*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body{
    background-color: whitesmoke;
}

.container{
    width: 100%;
    height: 100vh;
    
}

#h2{
    text-align: center;
    font-weight: revert;
    background-color: darkgray;
    padding: 9px;
    margin-bottom: 0px;
}
.btnclass{
    text-align: center;
    justify-content: center;
    display: flex;
}
#btnclass{
    background-color: midnightblue;
}